<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <!--Declaramos el nombre del modulo de la Aplicacion-->
  <body ng-app="reader">
    <ion-pane>
    <div class="bar bar-header">
      <h1 class="title">Lector QR</h1>
    </div>
    <ion-content style="text-align: center">
    <div class="item">
      <br>
      <br>
      <br>
      <img src="img/ionic.png" alt="">
      <h2>Lector Qr</h2>
    </div>
    <!--Definimos un controlador para el login-->
    <div class="item" ng-controller="panelCtrl">
    <!--Este formulario se muetsra se isLogged() en el 
      controlador panel devuelve falso que indica 
      que el usuario no ha iniciado sesion-->
      <form ng-show="!isLogged()">
      <!--Se cogen los datos que ingresa el usuario y se guardan en 
      el modelo user para ser enviados luego a la funcion login del 
      panel controller-->
        <input type="text" ng-model="user.username" placeholder="username">
        <input type="password" ng-model="user.password" placeholder="password">
        <button class="button button-block button-positive"  ng-click="logIn(user.username, user.password)">Saludar</button>
      </form>
      <!--Se muestra si el usuario se logeo es decir si el metodo isLogged() 
      del panel Controller devuelve true-->
      <div ng-show="isLogged()">
      <blockquote>Usted Ha iniciado sesion correctamente <br> Ahora puede Leer Codigos QR</blockquote>
      <!-- Se declara un controlador para el lector de codigos qr-->
      <div class="item"  ng-controller="readerCtrl">
      <!--Se llama el metodo que lee el codigo-->
        <button class="button button-block button-positive" ng-click="leerCodigo()">Scan</button>
      </div>
    </div>
    
  </div>
  </ion-content>
  </ion-pane>
</body>
</html>